{% extends 'deliverypanel/base_delivery.html' %}
{% block content %}

<h4>📦 My Delivered Orders (History)</h4>

<div style="max-height:550px; overflow-y:auto; border:1px solid #ddd; border-radius:8px;">

        <table style="width:100%; border-collapse:collapse;">
            
            <thead style="position:sticky; top:0; background:#212529; color:white; z-index:10;">
        <tr>
            <th>Order ID</th>
            <th>Customer</th>
            <th>Address</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for a in delivered_assignments %}
        <tr>
            <td>#{{ a.order.id }}</td>
            <td>{{ a.user.firstname }} {{ a.user.lastname }}</td>
            <td>{{ a.user.address }}</td>
            <td>
                <span class="badge bg-success">Delivered</span>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4" class="text-center">
                No delivered orders yet.
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}
