{% extends "adminpanel/base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
  <div class="row">

    <!-- LEFT : ADD FORM -->
    <div class="col-md-4">
      <div class="card shadow">
        <div class="card-header bg-dark text-white">
          <h5>Add Delivery Person</h5>
        </div>

        <div class="card-body">
         

          <form method="POST">
            {% csrf_token %}

         <!-- First Name -->
<input type="text" name="fname" class="form-control mb-1"
       placeholder="First Name"
       value="{{ request.POST.fname }}">
{% if errors.fname %}
    <small class="text-danger">{{ errors.fname }}</small>
{% endif %}

<!-- Last Name -->
<input type="text" name="lname" class="form-control mb-1"
       placeholder="Last Name"
       value="{{ request.POST.lname }}">
{% if errors.lname %}
    <small class="text-danger">{{ errors.lname }}</small>
{% endif %}

<!-- Username -->
<input type="text" name="username" class="form-control mb-1"
       placeholder="Username"
       value="{{ request.POST.username }}">
{% if errors.username %}
    <small class="text-danger">{{ errors.username }}</small>
{% endif %}

<!-- Email -->
<input type="email" name="email" class="form-control mb-1"
       placeholder="Email"
       value="{{ request.POST.email }}">
{% if errors.email %}
    <small class="text-danger">{{ errors.email }}</small>
{% endif %}

<!-- Password -->
<input type="password" name="password" class="form-control mb-1"
       placeholder="Password">
{% if errors.password %}
    <small class="text-danger">{{ errors.password }}</small>
{% endif %}

<!-- Confirm Password -->
<input type="password" name="confirm_password" class="form-control mb-1"
       placeholder="Confirm Password">
{% if errors.confirm_password %}
    <small class="text-danger">{{ errors.confirm_password }}</small>
{% endif %}

<!-- Contact -->
<input type="text" name="contact" class="form-control mb-1"
       placeholder="Contact No"
       value="{{ request.POST.contact }}">
{% if errors.contact %}
    <small class="text-danger">{{ errors.contact }}</small>
{% endif %}

<!-- Address -->
<textarea name="address" class="form-control mb-1"
          placeholder="Address">{{ request.POST.address }}</textarea>
{% if errors.address %}
    <small class="text-danger">{{ errors.address }}</small>
{% endif %}

            <button class="btn btn-success w-100">Add Delivery Person</button>
          </form>
        </div>
      </div>
    </div>

    <!-- RIGHT : LIST -->
     
    <div class="col-md-8">

        <!--search -->
  <form method="get" class="mb-3 d-flex">
  <input type="text" name="search" value="{{ search }}" class="form-control me-2" placeholder="Search delivery person">
  <button type="submit" class="btn btn-primary">
    🔍 Search
  </button>
</form>

      <div class="card shadow">
        <div class="card-header bg-dark text-white">
          <h5>Delivery Person List</h5>
        </div>


        <div class="card-body">
          <table class="table table-bordered table-hover">
            <thead class="table-dark">
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for d in delivery_list %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ d.fname }} {{ d.lname }}</td>
                <td>{{ d.email }}</td>
                <td>{{ d.contact_no }}</td>
                <td>
                  <a href="{% url 'edit_delivery_person' d.id %}" class="btn btn-sm btn-primary">Edit</a>
                  <button class="btn btn-sm btn-danger"
                          data-bs-toggle="modal"
                          data-bs-target="#deleteModal{{ d.id }}">
                    Delete
                  </button>
                  <button class="btn btn-sm toggle-btn
{% if d.is_active %}btn-success{% else %}btn-secondary{% endif %}"
data-id="{{ d.id }}">
{% if d.is_active %}Active{% else %}Inactive{% endif %}
</button>

                </td>
              </tr>

              
  


              <!-- DELETE MODAL -->
              <div class="modal fade" id="deleteModal{{ d.id }}">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header bg-danger text-white">
                      <h5>Confirm Delete</h5>
                    </div>
                    <div class="modal-body">
                      Are you sure you want to delete <b>{{ d.fname }}</b>?
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                      <a href="{% url 'delete_delivery_person' d.id %}" class="btn btn-danger">
                        Delete
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              {% empty %}
              <tr>
                <td colspan="5" class="text-center">No delivery person found</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

<!--pagging -->
<nav aria-label="Page navigation">
  <ul class="pagination pagination-sm justify-content-end mb-0">
    {% if delivery_list.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ delivery_list.previous_page_number }}{% if search %}&search={{ search }}{% endif %}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">&laquo;</span>
      </li>
    {% endif %}

    {% for i in delivery_list.paginator.page_range %}
      {% if delivery_list.number == i %}
        <li class="page-item active"><span class="page-link">{{ i }}</span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}{% if search %}&search={{ search }}{% endif %}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}

    {% if delivery_list.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ delivery_list.next_page_number }}{% if search %}&search={{ search }}{% endif %}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">&raquo;</span>
      </li>
    {% endif %}
  </ul>
</nav>


        </div>
      </div>
    </div>

  </div>
</div>
<script>
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        let cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            let cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');

document.querySelectorAll('.toggle-btn').forEach(btn => {
  btn.addEventListener('click', function () {
    let id = this.dataset.id;
    let button = this;

    fetch(`/dashboard/toggle-delivery-status/${id}/`, {
      method: 'POST',
      headers: {
        'X-CSRFToken': csrftoken,
        'Accept': 'application/json',
      },
    })
    .then(res => res.json())
    .then(data => {
      if (data.status) {
        button.classList.remove('btn-secondary');
        button.classList.add('btn-success');
        button.innerText = 'Active';
      } else {
        button.classList.remove('btn-success');
        button.classList.add('btn-secondary');
        button.innerText = 'Inactive';
      }
    });
  });
});
</script>


{% endblock %}


