{% extends 'adminpanel/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'adminpanel/css/location.css' %}">

<div class="page-wrapper">
    <h2 class="page-title">✏️ Edit City</h2>

    <div class="edit-form-container">
        <form method="POST" class="edit-form">
            {% csrf_token %}
            
            {% if updated %}
            <div style="padding: 20px; border-radius: 10px; background-color: #d1e7dd; border: 1px solid #badbcc; color: #0f5132; margin-bottom: 20px; text-align: center;">
                <strong>✔ City updated successfully!</strong>
                <br>
            </div>
            {% endif %}

            <label for="name">City Name</label>
            <input type="text" name="name" value="{{ city.name }}" required>

            <label for="state">Select State</label>
            <select name="state" required>
                {% for s in states %}
                    <option value="{{ s.id }}" {% if city.state.id == s.id %}selected{% endif %}>{{ s.name }}</option>
                {% endfor %}
            </select>

            <div class="form-buttons">
                <button type="submit" class="btn btn-save">Update</button><br><br>
                <a href="{% url 'add_and_list_city' %}" class="btn btn-cancel">Back to list</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}