{% extends 'adminpanel/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'adminpanel/css/inquiry.css' %}">

<h2>Customer Inquiries</h2>
<div style="display:flex; justify-content:flex-end; margin-bottom:10px;">
    <input type="text" id="inquirySearch"
           placeholder="🔍 Search inquiry..."
           style="width:250px; padding:6px; border-radius:6px; border:1px solid #ccc;">
</div>
<div style="max-height:300px; overflow-y:auto; border:1px solid #ddd; border-radius:8px;">

        <table style="width:100%; border-collapse:collapse;">
            
            <thead style="position:sticky; top:0; background:#212529; color:white; z-index:10;">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Subject</th>
        <th>Status</th>
        <th>Date</th>
        <th>Action</th>
    </tr>
    </thead>

    {% for i in inquiries %}
    <tr>
        <td>{{ i.name }}</td>
        <td>{{ i.email }}</td>
        <td>{{ i.subject }}</td>

        <td>
            {% if i.status == "Pending" %}
                <span class="status-pending">Pending</span>
            {% else %}
                <span class="status-responded">Responded</span>
            {% endif %}
        </td>

        <td>{{ i.inquiry_date }}</td>

        <td>
            {% if i.status == "Pending" %}
                <a href="{% url 'reply_inquiry' i.inquiry_id %}" class="reply-btn">Reply</a>
            {% else %}
                <span class="replied-label">Replied</span>
            {% endif %}
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="6" style="text-align:center;">No inquiries yet</td>
    </tr>
    {% endfor %}
</table>
</div>
<script>
const inquirySearch = document.getElementById("inquirySearch");

inquirySearch.addEventListener("keyup", function () {

    let filter = this.value.toLowerCase();
    let rows = document.querySelectorAll("table tbody tr");

    rows.forEach(row => {

        // Skip empty row
        if (row.querySelector("td[colspan]")) return;

        let text = row.innerText.toLowerCase();
        row.style.display = text.includes(filter) ? "" : "none";
    });

});
</script>
{% endblock %}
